.Contact{
  padding: 5% 17% 10% 17%;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}

.Contact h2{
  min-width:fit-content;
}


.Contact p {
  max-width:30%;

}
.contact-link-share ul li {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  cursor:pointer;
  padding-top:1em;
}
.icone-contact{
  width: 20px;
  height: 20px;
  display: inline-flex;
  background-size: cover;
  background-position: center;
  margin-right: 1em;
}

.contact-link-share a {
  text-decoration: none;
  color: inherit;
}

@media (max-width:600px){
  .Contact{
    flex-wrap:wrap;
    padding: 5% 14% 10% 14%;
    justify-content: center;
  }
  .Contact p {
    min-width:270px;
  } 
  .Contact ul {
    padding: 0;
  }
}
