.Presentation{
  padding: 5% 17% 0 17%;
}

.Presentation h2{
  font-size: 80px;
  font-weight: normal;
}

.Presentation h3{
  font-size: 50px;
  
  font-weight:bold ;
}
.Presentation p{
  font-size: 14px;
  line-height: 2em;
  letter-spacing: 2px;
}
.more-infos-section{
  display: flex;
  justify-content: space-around;
  margin-top: 15em;
}
.column-right{
  display: flex;
  flex-direction: column;
  max-width:65%;
}

