.TechnologieText{
}
.intro{
  width : 100%;
}

.Chiffre, .clef{
  width: 100%;
  display: flex;
  justify-content: inherit;
  text-align: center;
  padding-bottom: 6em;
  padding-top: 3em;
  flex-wrap:wrap;
}

.Recap{
  order: 1;
  display: flex;
  justify-content: space-between;
  text-align:center;
  padding-top:3em;
}

.Recap .sp-recap{
  margin-left: 28px;
  margin-right: 1px;
  max-width: 154px;
  height: 198px;
  overflow-y: scroll;
}/* Hide scrollbar for Chrome, Safari and Opera */
.Recap .sp-recap::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.Recap .sp-recap {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.Chiffre div{
  margin-right:10px;
  min-width:200px;

}

@media (max-width:600px){
  .Recap, .Chiffre{
    flex-wrap:wrap;
    justify-content:center;
  }
  .Chiffre div{
    min-width: 100%;
  } 
  .Recap .sp-recap{
 margin-left:0;
  }

}
