
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.App{
  /*font family space mono sans serif*/
  /*color bg-main-color:white
   *      text-main-color:black
   * */
font-family: 'Space Mono', monospace;
}

@media (min-width: 1300px) { 

  #root{
display: flex;
justify-content:center;

  }

  .App{
    max-width:1300px;
  }
}

h1{
  font-size:30px;
}
